header {
  background-image: url("img/hero.jpg");
  height: 450px;
  flex-direction: column;
  justify-content: center; /*vertically centers*/
}

.brand-logo {
  margin-left: 10px;
}

h1 {
  font-weight: bold;
}

i {
  vertical-align: bottom;
}

/*
div .card {
  white-space: nowrap;
  overflow: hidden;
}
*/

.card-content .getItemName {
  font-size: 18px;
}

tbody tr :nth-child(2) {
  text-align: right;
}

tfoot tr :nth-child(1) {
  text-align: right;
}

tfoot tr :nth-child(2) {
  text-align: right;
}

table {
  border-style: none;
  border-bottom: 0;
  border-top: 0;
}
